# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/DBMSproject.iml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/workspace.xml
index.html
node_modules/
package-lock.json
package.json
